<div class="row">
            <!-- Earnings (Monthly) Card Example -->
            {{#each doctors}}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                            <div class="text-sm font-weight-bold text-success text-uppercase mb-1">{{name}}</div>
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Time: {{day_start_time}} - {{day_end_time}}</div>
                            <a class="text-xs font-weight-bold text-primary text-uppercase mb-1" href="/user/appointment/{{_id}}">Book Appointment</a>
                            </div>
                            <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            {{/each}}
          </div>